* {
    margin: 0;
    padding: 0;
    // outline: 1px dashed green;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.expenses {
    &__title {
        margin-bottom: 30px;
    }

    &_status {
        color: rgb(0, 210, 0);
    }

    &_status-red {
        color: red;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    &__wrapper {
        display: flex;
    }

    &__input {
        width: 484px;
        height: 58px;
        margin-right: 28px;
        font-size: 32px;
        font-weight: 400;
    }

    &__btn {
        width: 370px;
        height: 58px;
        background-color: #0094FF;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 32px;
        font-weight: 400;
    }

    &__btn:hover {
        background-color: #0870C5;
    }

    &__history-title {
        margin-top: 25px;
        font-size: 32px;
        text-align: center;
    }

    &__wrapper-bottom {
        display: flex;
        justify-content: space-between;
    }

    &__btn-reset {
        max-width: 484px;
        height: 58px;
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        cursor: pointer;
        background-color: #F00;
        margin-top: 69px;
        padding: 11px 80px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    &__category-select {
        width: 484px;
        height: 58px;
        margin-right: 28px;
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 400;
    }

    &_status-green {
        color: green;
    }
}

ol {
    list-style-position: inside;
}

.limit-wrapper {
    display: flex;
    gap: 15px;
    cursor: pointer;
}